/* Botswana */

* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	margin: 0;
	font-size: .8em;
	background: #161616;
	color: #fff;
}

.container {
	width: 1010px;
	margin: 0px auto;
}



/* Header */
/* -------------------------------------------------- */

header {
	background: rgba(26, 26, 27, 0.9);
	box-shadow: 0 0 100px #000;
	display: none;
	left: 0;
	overflow: hidden;
	padding: 25px;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 10000;
}

header.active {
	display: block;
}

header .container {
	display: flex;
	padding: 5px 25px;
}

header.active + #main {
	filter: blur(5px);
	-webkit-filter: blur(5px);
	z-index: 0;
}

header .group {
	overflow: hidden;
}

header .group + .group {
	margin-left: 50px;
}

header label {
	color: hsl(213, 9%, 41%);
	display: block;
	font-weight: bold;
	margin-bottom: 10px;
	font-size: .95em;
	text-transform: uppercase;
}

header .group .item {
	background: hsl(213, 27%, 23%);
	border-radius: 3px;
	cursor: pointer;
	padding: 6px 6px;
	text-overflow: ellipsis;
	width: 250px;
	white-space: nowrap;
}

header .group .item:hover {
	background: hsl(0, 0%, 13%) !important;
}

header .group .item + .item {
	margin-top: 5px;
}

header .group .item .name {
	color: rgba(255, 255, 255, 0.5);
	display: inline-block;
}

header .group .item .sub {
	color: rgba(255, 255, 255, 0.1);
	display: inline-block;
	font-size: .8em;
	margin-left: 3px;
}

header .group .item.selected {
	background: hsl(213, 47%, 43%);
}

header .group .item.selected .name {
	color: hsl(0, 100%, 100%);
	font-weight: 600;
}

header .group .item.selected .sub {
	color: rgba(255, 255, 255, 0.2);
}

header .group .add-form {
	display: flex;
	margin-top: 10px;
}
header .group .add-form input[type=text] {
	background: rgba(0, 0, 0, 0.2);
	border: none;
	border-radius: 3px 0 0 3px;
	color: #fff;
	font-size: 1em;
	padding: 6px 6px;
	width: 100%;
}

header .group .add-form input[type=text]:focus {
	outline: none;
}

header .group .add-form input[type=text]::-webkit-input-placeholder {
	color: #444;
}

header .group .add-form input[type=text]::-moz-placeholder {
	color: #444;
}

header .group .add-form input[type=submit].add {
	background: hsl(82, 15%, 23%);
	border-radius: 0 3px 3px 0;
	border: none;
	color: #fff;
	cursor: pointer;
	font-size: 1.2em;
	padding: 3px 6px 7px;
	min-width: 35px;
}

header .group .add-form input[type=submit].add:hover {
	background: hsl(82, 25%, 33%);
}

header .group .add-form input[type=submit].add:focus {
	outline: none;
}

header .group.rulesets .item {
	background: hsl(301, 20%, 20%);
}

header .group.rulesets .item.selected {
	background: hsl(301, 37%, 33%);
}

/* Start button */
header .group.start {
	flex: 1;
	margin-left: 100px;
	text-align: right;
}

header .group.start input[type=button] {
	background: hsl(144, 42%, 35%);
	border-radius: 5px;
	border: none;
	color: #fff;
	cursor: pointer;
	font-size: 1.3em;
	font-weight: bold;
	line-height: 1em;
	padding: 10px 15px 12px;
	width: 100%;
}

header .group.start input[type=button]:hover {
	background: hsl(0, 0%, 20%);
}

header .group.start input[type=button]:focus {
	outline: none;
}

.invalid_url {
	border: solid 1px #f00;
	background: #fdd;
	color: #f00;
}




/* Status bar */
/* -------------------------------------------------- */

section#status {
	margin-top: 20px;
	background: #1f1f1f;
	clear: both;
	overflow: hidden;
	color: #fff;
	font-weight: bold;
	border-radius: 5px 5px 0 0;
	border: solid 5px #111;
}

/*
.name {
	position: relative;
	top: -2;
	margin-right: 5px;
	display: inline-block;
	 text-align: right;
}
*/

.left {
	float: left;
	padding: 4px 8px;
}

.right {
	float: right;
	padding: 4px 8px;
}


.healthbar {
	background: #000;
	width: 200px;
	height: 16px;
	display: inline-block;
	border-radius: 3px;
	position: relative;
	top: 2px;
}

.health {
	width: 0px;
	height: 16px;
	display: inline-block;
	border-radius: 3px;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}



/* Canvas */
/* -------------------------------------------------- */

#wrapper {
	border-radius: 0 0 5px 5px;
	border-style: solid;
	border-width: 0 5px 5px 5px;
	border-color: #111;
}


canvas {
	background: #000;
	border-radius: 0 0 5px 5px;
	width: 1000px;
	height: 600px;
}



/* Footer */
/* -------------------------------------------------- */

footer {
	font-size: .7em;
	color: #222;
	margin: 3px 0 20px;
	text-align: right;
}

footer a {
	font-weight: bold;
	color: #222;
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
}

