/* Botswana */

* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	margin: 0;
	font-size: .8em;
	background: hsl(213, 20%, 9%);
	color: #fff;
}

.container {
	width: 1010px;
	margin: 0px auto;
}


/* Tray toggle */
/* -------------------------------------------------- */

#tray {
	background: #000;
	cursor: pointer;
	height: 20px;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 50000;
}

#tray:hover {
	background: #254364;
}


/* Header */
/* -------------------------------------------------- */

header {
	background: hsla(213, 36%, 11%, 0.9);
	box-shadow: 0 0 100px #000;
	display: none;
	left: 0;
	overflow: hidden;
	padding: 45px 25px 25px;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 10000;
}

header.active {
	display: block;
}

header .container {
	display: -webkit-flex;
	display: flex;
	padding: 5px 25px;
}

header.active + #main {
	filter: blur(5px);
	-webkit-filter: blur(5px);
	z-index: 0;
}

header .group {
	overflow: hidden;
}

header .group + .group {
	margin-left: 50px;
}

header label {
	color: hsl(213, 9%, 41%);
	display: block;
	font-weight: bold;
	margin-bottom: 10px;
	font-size: .95em;
	text-transform: uppercase;
}

header .group .item {
	background: hsl(213, 27%, 23%);
	border-radius: 3px;
	cursor: pointer;
	padding: 6px 6px;
	text-overflow: ellipsis;
	width: 250px;
	white-space: nowrap;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

header .group .item:hover {
	background: hsl(0, 0%, 1%) !important;
}

header .group .item + .item {
	margin-top: 5px;
}

header .group .item .delete {
	color: rgba(255, 255, 255, 0.3);
	float: right;
	padding: 0 5px;
}

header .group .item .delete:hover {
	color: #fff;
}

header .group .item .name {
	color: rgba(255, 255, 255, 0.5);
	display: inline-block;
}

header .group .item .sub {
	color: rgba(255, 255, 255, 0.1);
	display: inline-block;
	font-size: .8em;
	margin-left: 3px;
}

header .group .item.selected {
	background: hsl(213, 47%, 43%);
}

header .group .item.selected .name {
	color: hsl(0, 100%, 100%);
	font-weight: 600;
}

header .group .item.selected .sub {
	color: rgba(255, 255, 255, 0.2);
}

header .group .add-form {
	display: -webkit-flex;
	display: flex;
	margin-top: 10px;
}

header .group .add-form input[type=text] {
	background: rgba(0, 0, 0, 0.2);
	border: none;
	border-radius: 3px 0 0 3px;
	color: #fff;
	font-size: 1em;
	padding: 6px 6px;
	width: 100%;
}

header .group .add-form input[type=text]:focus {
	outline: none;
}

header .group .add-form input[type=text]::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.2);
}

header .group .add-form input[type=text]::-moz-placeholder {
	color: rgba(255, 255, 255, 0.2);
}

header .group .add-form input[type=submit].add {
	background: hsl(82, 15%, 23%);
	border-radius: 0 3px 3px 0;
	border: none;
	color: #fff;
	cursor: pointer;
	font-size: 1.2em;
	padding: 3px 6px 7px;
	min-width: 35px;
}

header .group .add-form input[type=submit].add:hover {
	background: hsl(82, 25%, 33%);
}

header .group .add-form input[type=submit].add:focus {
	outline: none;
}

header .group.rulesets .item {
	background: hsl(301, 20%, 20%);
}

header .group.rulesets .item.selected {
	background: hsl(301, 37%, 33%);
}

/* Start button */
header .group.start {
	-webkit-flex: 1;
	flex: 1;
	margin-left: 100px;
	text-align: right;
}

header .group.start input[type=button] {
	background: hsl(144, 42%, 35%);
	border-radius: 5px;
	border: none;
	color: #fff;
	cursor: pointer;
	font-size: 1.3em;
	font-weight: bold;
	line-height: 1em;
	padding: 10px 15px 12px;
	width: 100%;
}

header .group.start input[type=button]:hover {
	background: hsl(144, 38%, 52%);
}

header .group.start input[type=button]:focus {
	outline: none;
}

header .group.start input[type=button]::-moz-focus-inner {
	border: 0;
}

.invalid_url {
	border: solid 1px #f00;
	background: #fdd;
	color: #f00;
}




/* Status bar */
/* -------------------------------------------------- */

section#status {
	color: #fff;
	display: -webkit-flex;
	display: flex;
	margin-top: 30px;
	overflow: hidden;
}

section#status .team {
	-webkit-flex: 1;
	flex: 1;
}

section#status .team + .team {
	margin-left: 25px;
}

section#status .team .name {
	display: block;
}

section#status .team .name.dead {
	color: #f00;
}

section#status .team .healthbar {
	background: #111;
	border-radius: 3px;
	display: block;
	height: 15px;
	margin-top: 5px;
	width: 100%;
}

section#status .team .health {
	width: 0%;
	height: 15px;
	display: inline-block;
	border-radius: 3px;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}



/* Canvas */
/* -------------------------------------------------- */

#wrapper {
	border-radius: 3px;
	border: solid 3px hsl(197, 9%, 13%);
	box-shadow: 0 0 15px #000;
	margin-top: 15px;
}

canvas {
	background: #000;
	border-radius: 0 0 3px 3px;
	width: 1000px;
	height: 600px;
}
